<main class="relative mix-blend-difference">
  <section class="opacity-70">
    <img src="get-final-price-banner.png" alt="">
  </section>
  <section class="w-100 h-60 p-4  rounded-2xl  absolute top-25 left-70 hero2">
    <div class="flex flex-col gap-4">
      <h1 class="text-[22px] font-bold">
       Check On-Road Price
      </h1>
      <app-search-bar placeholder="Search Bike ..."/>
      <div class="bg-transparent border border-white h-11 rounded-xl">
        <div class="flex justify-between items-center m-2">
          <input type="text" placeholder="Select City">
          <mat-icon>arrow_right</mat-icon>
        </div>
      </div>
      <h3 class="text-[13px] font-bold">Check the on road price in your city</h3>
    </div>
  </section>
</main>
