<footer class="max-w-full overflow-hidden  text-white md:h-[380px] h-fit bg-(--footer-color)">
<section class="md:mx-[269px] sm:mx-0 md:w-[992px] sm:w-auto flex flex-col">
 <div class="w-full  flex items-center h-[91px]  border-b border-(--border-color)/50">
  <div class="flex items-center ml-15 md:ml-0 gap-2 ">
    <h1 class="text-[13px]" >Language:</h1>
    <h1 class="text-[13px] font-bold" >English</h1>
    <h1 class="text-[13px]" >हिंदी</h1>
  </div>
   <span class="inline-block m-15 h-9 w-[0.1px] bg-[#5E5E5E]"></span>
  <div class="w-[320px] ">
    <div class="flex w-full  gap-26">
      <h1 class="p-2.5 text-[13px]">About Us</h1>
      <h1 class="hidden md:block text-[13px] p-2.5">Advertise</h1>
    </div>
  </div>
 </div>
 <div class="w-full grid md:grid-cols-2 sm:grid-cols-1 gap-4 items-center justify-center h-fit  md:h-28.75 border-b border-(--border-color)/50">
  <div class="grid md:grid-col-2 w-full sm:grid-cols-1 md:w-1/2 mt-[2px]  gap-7">
    <h1 class="text-[12px] text-center md:text-start mt-1 md:mt-0 font-bold uppercase text-[#ffffff80]">Connect with us</h1>
    <div class="flex gap-11 ml-7 md:ml-0">
      <i  class="fa-brands fa-facebook fa-2xl"></i>
      <i class="fa-brands fa-x-twitter fa-2xl"></i>
      <i class="fa-brands fa-youtube fa-2xl"></i>
      <i class="fa-brands fa-square-linkedin fa-2xl"></i>
      <i class="fa-brands fa-instagram fa-2xl"></i>
    </div>
  </div>
  <div class=" w-screen grid md:grid-cols-1 sm:grid-cols-2 gap-3 mt-4.5 -ml-2 md:border-none border-t border-(--border-color)/50  ">
    <div class="flex flex-col gap-4 mt-1 md:items-start items-center">
      <div>
        <h1 class="text-[12px] font-bold uppercase text-[#ffffff80]">Download Mobile App</h1>
      </div>
      <div class="flex items-center gap-7">
        <img class="w-25 h-9" src="app-store.svg" alt="">
        <img class="w-28 h-9" src="play-store.svg" alt="">
      </div>
    </div>
  </div>
  <div>

  </div>
 </div>
 <div class="w-full flex items-center h-28.75 border-b border-(--border-color)/50">
  <img class="w-36 h-20" src="img.svg">
 <span class=" m-5 h-20 w-[0.1px] bg-[#5E5E5E]"></span>
 <div class="flex items-center gap-10">
   <img class="w-25 h-14" src="bikewale.svg">
   <img class="w-25 h-14" src="carwale.svg">
   <img class="w-25 h-14" src="cartrade.svg">
   <img class="w-25 h-14" src="mobility-outlook.svg">
   <img class="w-25 h-14" src="olx.svg">
   <img class="w-25 h-14" src="carwale-absure.svg">
 </div>
 </div>
 <div class="w-full mt-[4.5px] flex items-center justify-between text-[#B3B3B3] text-[13px] h-12.5">
  <h1>©CarTrade Tech.</h1>
  <h1>Visitor Agreement & Privacy Policy</h1>
 </div>
</section>
</footer>

