<nav class="bg-[#1A1A1A] text-[#D1D1D1]  border-b border-[#2a2a2a] z-100 h-14 w-full">
  <div class="flex items-center justify-between w-full  p-2">
    <div class="flex items-center  gap-2">
      <button id="menu" (click)="togglemenu()" class="bg-gray-800" mat-icon-button>
        <fa-icon class="flex justify-center" [icon]="faBar"></fa-icon>
      </button>
      <!-- <h1 class="mb-1 text-2xl">Bikewale</h1> -->
       <img src="bikewale-logo-new-header.svg" class="w-32 h-full invert object-cover "  alt="">
    </div>
    <div class="flex items-center   gap-4  ">
      <app-search-bar class="md:block hidden" [placeholder]="'Search ...'" [width]="'320px'"/>
       <div class="md:hidden block ">
         <button  mat-icon-button>
           <fa-icon class="text-white! flex justify-center md:ml-0 ml-20" [icon]="faMagnifyingGlass"></fa-icon>
         </button>
       </div>
      <button mat-icon-button>
        <fa-icon class="text-white! flex justify-center md:ml-0 ml-20" [icon]="faLocationDot"></fa-icon>
      </button>
      <button mat-icon-button>
        <fa-icon class="text-white! flex justify-center md:block hidden" [icon]="faLanguage"></fa-icon>
      </button>
      <h1 class="text-lg md:block hidden">Login</h1>
    </div>
  </div>
</nav>
<div  class="w-75 h-full bg-[#1A1A1A] text-[#D1D1D1] rounded-tr-2xl fixed top-14 -left-75 z-90  sidebar ">
  @for (item of menu; track item) {
      <div (click)="togglediv(item)" class="flex items-center justify-between cursor-pointer hover:bg-white rounded-2xl hover:text-[#1A1A1A] p-4">
      <div class="flex items-center gap-4">
        <mat-icon>{{item.icon}}</mat-icon>
        <h2>{{item.label}}</h2>
      </div>
      @if (item.children) {
        <div>
          <mat-icon>{{item.icon2}}</mat-icon>
        </div>
      }
    </div>
    @if (item.children && item.open) {
       <div class="pl-12 pb-2 text-sm text-gray-400 transition-all ease-in-out duration-500">
      @for (child of item.children; track child) {
        <div class="py-1 hover:text-white cursor-pointer">
          {{ child }}
        </div>
      }
    </div>
    }
    }
</div>

