/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  will-change: transform;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  will-change: opacity;
} */
