<div class="bg-[#1A1A1A] text-[#D1D1D1] w-full font-sans h-min">
  <div class="max-w-[992px] mx-auto px-4 sm:px-6">
    <!-- Heading -->
    <h1 class="font-bold text-[22px] sm:text-[22px] text-[#E8E8E8] mb-5">
      Browse Bikes By
    </h1>

    <!-- Category Tabs -->
    <div class="lg:mb-8">
      <div class="flex lg:gap-4 
           flex-nowrap sm:flex-wrap
           overflow-x-hidden 
           whitespace-nowrap
           pb-2">
        @for (category of categories; track category) {
        <button (click)="onCategorySelect(category)"
          class="px-4 py-2 text-sm font-bold cursor-pointer whitespace-nowrap" [ngClass]="
          selectedCategory === category
            ? 'text-[#91D9D3] border-b-4 border-[#91D9D3]'
            : 'text-[#D1D1D1] hover:text-white'
        ">
          {{ category |  uppercase }}
        </button>
        }
      </div>

      <!-- Divider -->
      <div class="w-full h-px bg-gray-700 -mt-2 lg:-mt-2"></div>
    </div>


    <!-- BODY STYLE -->
    <div class="mt-2 mb-10">

      @if (selectedCategory == 'bodystyle') {
      <div class="w-full grid
               grid-cols-2 sm:grid-cols-3 lg:grid-cols-6
               ">
        @for (body of bodystyle; track body.id) {
        <div class="flex flex-col rounded-xl items-center justify-center gap-2
                   border border-gray-700
                   py-6 cursor-pointer 
                   ransition bg-gradient-to-b from-[#1a1a1a] to-[#0f0f0f] hover:bg-[#1f1f1f] ">
          <img [src]="body.imageUrl" [alt]="body.title" class="w-14 h-14 object-contain" />
          <p class="text-sm text-gray-200 font-medium">
            {{ body.title }}
          </p>
        </div>
        }
      </div>
      }

      <!-- DISPLACEMENT -->
      @else if (selectedCategory == 'displacement') {
      <div class="w-full grid p-4 m-2
               grid-cols-2 sm:grid-cols-3 lg:grid-cols-4
               border rounded-xl border-gray-700
               bg-gradient-to-b from-[#1a1a1a] to-[#0f0f0f]">
        @for (displacment of displacements; track displacment.id) {
        <p class="border cursor-pointer text-center
                   border-gray-700 hover:bg-[#1f1f1f] transition
                   rounded-full p-2 py-4 font-medium m-2">
          {{ displacment.cc }}cc
        </p>
        }
      </div>
      }

      <!-- BUDGET -->
      @else if (selectedCategory == 'budget') {
      <div class="w-full grid p-4
               grid-cols-2 sm:grid-cols-3 lg:grid-cols-4
               border border-gray-700 rounded-xl
               bg-gradient-to-b from-[#1a1a1a] to-[#0f0f0f]">
        @for (price of prices; track price.id) {
        <div class="flex items-center justify-center
                   border border-gray-700
                   py-4 cursor-pointer rounded-full
                   hover:bg-[#1f1f1f] transition m-2">
          <p class="text-sm text-gray-200 font-medium">
            {{ price.price }}
          </p>
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>