<div class="w-full  font-sans py-6">
  <!-- MAIN CENTERED COLUMN -->
  <div class="max-w-[992px] mx-auto px-4 sm:px-6">

    <!-- Title -->
    <h1 class="font-bold text-[20px] sm:text-[22px] text-[#E8E8E8] mb-5">
      Get Offers on Popular Bikes
    </h1>
    <!-- Slider -->


    <app-slider [spaceBetween]="spaceBetween" [navigation]="{
    prevEl: '.swiper-prev',
    nextEl: '.swiper-next'
  }" [breakpoints]="breakpoints" containerClass="w-full h-[229.5px] mt-6 rounded-md">
      @for (slide of slides; track slide.id) {
      <swiper-slide>
        <div class="h-full flex items-center justify-center">
          <!-- CARD -->
          <div class="w-[239px] h-[230px] bg-[#1E1E1E] rounded-2xl p-4
                 flex flex-col justify-between border border-[#2E2E2E]">
            <div class="w-full h-[110px] flex items-center justify-center">
              <img [src]="slide.imageUrl" class="max-h-full object-contain" />
            </div>

            <div>
              <h2 class="text-[14px] font-semibold text-white">
                {{ slide.title }}
              </h2>

              <p class="text-[14px] text-white font-bold mt-1">
                ₹ {{ slide.price }}
                <span class="text-[11px] text-gray-400">Onwards</span>
              </p>
            </div>

            <div class="w-full h-px bg-[#3F3F3F] my-2"></div>

            <button class="text-[13px] font-bold text-[#63B1DC] self-start text-left">
              Get Best Offer
            </button>

          </div>
        </div>
      </swiper-slide>
      }
    </app-slider>


  </div>
</div>