<div class="w-full  font-sans py-6">
  <!-- MAIN CENTERED COLUMN -->
  <div class="max-w-[992px]  mx-auto px-4 sm:px-6">

    <!-- Title -->
    <h1 class="font-bold text-[22px] sm:text-[22px] text-[#E8E8E8] mb-2">
      Featured Bikes
    </h1>

    <!-- Categories -->
    <div class="lg:mb-8 ">
      <div class="flex flex-wrap lg:gap-4 ">
        @for (category of categories; track category) {
        <button (click)="onCategorySelect(category)" class="px-4 py-2 text-sm font-medium cursor-pointer " [ngClass]="
              selectedCategory === category
                ? 'text-[#91D9D3] border-b-4 border-[#91D9D3]'
                : 'text-[#D1D1D1] hover:text-white'
            ">
          {{ category | uppercase }}
        </button>
        }
      </div>

      <!-- Divider -->
      <div class="w-full h-px bg-gray-700 "></div>
    </div>

    <!-- Slider -->
    <app-slider [navigation]="navigation" [breakpoints]="breakpoints" containerClass="w-full h-full mt-3 rounded-md">
      @for (bike of filteredBikes; track bike.id) {
      <swiper-slide>
        <div class="flex justify-center" >
          <!-- CARD -->
          <div class="w-[334.629px] h-[333.516px] bg-[#1E1E1E] rounded-2xl p-4 flex flex-col justify-between
               border border-[#252525] cursor-pointer" [routerLink]="['/brand', bike.brand, bike.id]" >
            <div class="w-full h-[150px] flex items-center justify-center">
              <img [src]="bike.imageUrl" class="max-h-full object-contain scale-130"  />
            </div>

            <div>
              <h2 class="text-[15px] font-semibold text-[#E8E8E8]">
                {{ bike.title }}
              </h2>

              <p class="text-[16px] text-[#E8E8E8] font-bold mt-1">
                ₹ {{ bike.price  }}
                <span class="text-[11px] text-[#D1D1D1]">Onwards</span>
              </p>

              <p class="text-[11px] text-gray-400">
                Avg. Ex-Showroom price
              </p>
            </div>

            <button class="w-[158px]   py-2 text-center rounded-xl text-[14px]
                 border border-[#5EEAD4] text-[#5EEAD4]
                 ">
              Check on-road price
            </button>
          </div>
        </div>
      </swiper-slide>
      }

    </app-slider>

  </div>
</div>