<app-card [tailwindClass]="
    'p-4 space-y-3 mb-4
     bg-[var(--card-bg-color)]
     border border-[var(--border-color)]
     rounded-[var(--radius-md)]'
  ">

    <!-- Showroom Name -->
    <h3 class="text-(--text-primary) font-semibold text-base">
        {{ name }}
    </h3>

    <div class="flex gap-3 text-sm text-(--text-secondary) leading-relaxed">
        <i class="fa-solid fa-location-dot text-(--text-tertiary) mt-1"></i>
        <span>{{ address }}</span>
    </div>

    <button class="flex items-center gap-2 text-sm
         text-[#63B1DC]
         w-fit
         font-semibold
         hover:cursor-pointer">
        Get Directions
        <i class="fa-solid fa-arrow-right text-xs"></i>
    </button>

</app-card>