/* .hero{
    background-image: url('/hero.png');
    background-color: #000000;
    background-position: center top;
    height: 490px;
    background-size: cover;
    background-repeat: no-repeat;
} */
