<main class="relative w-full">
  <section class="w-full h-90 md:h-125">
    <img class="w-full h-full object-cover md:block hidden" src="/hero.png" alt="">
    <img class="w-full h-full object-cover md:hidden block" src="/home-top-banner-2.avif" alt="">
  </section>
  <section class="w-full h-40 absolute bottom-0 left-0 ">
   <div class="flex flex-col items-center gap-2">
    <div class="mb-2 flex flex-col items-center">
      <h1 class="text-[26px]! font-bold">FIND THE RIGHT BIKE</h1>
      <h1 class="text-[18px]! ">Get Comprehensive Information on Bikes!</h1>
    </div>
    <div class="flex items-center gap-2">
      <app-search-bar placeholder="Search your bike here ..." [width]="'400px'" />
      <div class="md:block hidden">
        <button class="rounded-xl! bg-red-500! " mat-flat-button>Search</button>
      </div>
    </div>
   </div>
  </section>
</main>
