<main class="relative mt-14 w-full">
  <section class="w-full h-100 md:h-125 hero">
    <img class="w-full h-full object-cover md:block hidden" src="/hero.png" alt="">
    <img class="w-full h-full object-cover md:hidden block" src="/home-top-banner-2.avif" alt="">
  </section>
  <section class="w-full h-[171.6px] absolute -bottom-5 left-0 ">
   <div class="flex flex-col items-center gap-2">
    <div class="mb-2 flex flex-col items-center">
      <h1 class="text-[26px]! font-bold">FIND THE RIGHT BIKE</h1>
      <h1 class="text-[18px]! ">Get Comprehensive Information on Bikes!</h1>
    </div>
    <div class="flex items-center gap-2">
      <app-search-bar [LeftIcon]="true" placeholder="  Search your bike here,eg Royal Enfield Classic 350" [width]="widthpx" />
      <div class="md:block hidden">
        <button  class="rounded-xl! w-32.5 h-10 bg-(--accent-primary)! mb-2! " mat-flat-button>Search</button>
      </div>
    </div>
   </div>
  </section>
</main>
